body {
  background:rgb(247, 208, 208);
  min-height: 100vh;
}
.main-card {
  border-radius: 20px;
  overflow: hidden;
}

.card-header {
  background: #bc5555;
  padding: 20px;
}
.title {
  color: white;
  font-weight: bold;
  margin: 0;
}
.form-control {
  border-radius: 10px;
  padding: 15px;
}
.form-control:focus {
  box-shadow: none;
  border: 2px solid #0d6efd;
}
.btn {
  border-radius: 10px;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.02);
}
.result-card {
  display: none;
  border-radius: 15px;
  background: #f8f9fa;
}
.total-box {
  background: #e154c7;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
.break-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 18px;
}
.btn{
  background-color: #bc5555;
}
@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .total-box {
    font-size: 22px;
  }

  .break-line {
    font-size: 16px;
  }
}
